{% extends 'base.twig' %}

{% block title %}What is this plugin checker?{% endblock %}
{% block subtitle %}Check your plugin to ensure they are compliant{% endblock %}

{% block content %}

<h2>GDPR</h2>
<p>The <abbr title="General Data Protection Regulation">GDPR</abbr> is an improved regulation to protect
the privacy of <abbr title="European Union">EU</abbr> data subjects and will become law on <strong>May 25,
2018</strong>.</p>

<p>When you're using an e-commerce platform, you're most likely using 3rd plugins to enhance the functionality
for your customers, but in regards to the <abbr title="General Data Protection Regulation">GDPR</abbr> you need
to know if they're compliant.</p>

<p>To facilitate you in your research we have looked at the most common plugins for the following e-commerce
platforms:</p>

<ul>
    <li><a href="https://www.magento.com" title="Magento e-Commerce" rel="nofollow" target="_blank">Magento</a></li>
    <li><a href="https://www.prestashop.com" title="PrestaShop e-Commerce" rel="nofollow" target="_blank">PrestaShop</a></li>
    <li><a href="https://www.woocommerce.com" title="WooCommerce e-Commerce" rel="nofollow" target="_blank">WooCommerce</a></li>
</ul>

<p>More platforms might be added in the future if there's interest in them.</p>
{% endblock %}
