{% extends 'base.twig' %}

{% block title %}Privacy Declaration{% endblock %}
{% block subtitle %}Protecting your privacy is our main concern.{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Your privacy matters</h2>
            <p>Nothing matters more than to protect your privacy. That's why we
            don't ask for credentials, emails or any other information. Because
            we don't need it, even though it might give us advantages.</p>
            <p>We have build this application because we care about your business
            and want to offer you the easiest way to verify if your application
            uses non-compliant plugins.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>But we're still a web application</h2>
            <p>The nature of a web application is that it's accessible over the
            network, either private or public. In our case, we're offering this
            application publicly, free of charge, open to anyone.</p>
            <p>Because our application is running publicly, there are a few things
            you should know about the information we collect.</p>

            <h3>IP addresses</h3>
            <p>When you access our web application, you're sending us your IP
            address with every request. An IP address is a unique address that
            will point to your home internet connection or your corporate
            network.</p>
            <p>We're logging your access to our website for two reasons:
            <ol>
                <li>Detecting and preventing bad behavior</li>
                <li>To track usage of our application for detecting bugs
                    or making improvements to the application.</li>
            </ol></p>
            <p>We keep these logs for 30 days and remove them permanently.</p>

            <h3>Cookies</h3>
            <p>The only cookies that you will receive on this web application
            are from <a href="https://www.google.com/analytics" title="Google Analytics"
            target="_blank" rel="nofollow">Google Analytics</a> so we can
            analyse the web usage and improve the application over time.</p>
            <p>The cookies from Google Analytics are the following:
            <ul>
                <li><strong>_ga</strong></li>
                <li><strong>_gid</strong></li>
            </ul></p>
            <p>Please read the <a href="https://support.google.com/analytics/topic/2919631?hl=en&ref_topic=1008008"
            title="Google Analytics Data Privacy and security">Google
            Analytics Data privacy and security</a> to learn about how Google
            provides good practices to protect your privacy, which we apply.</p>

            <h3>Do not track</h3>
            <p>If you have enabled &quot;Do not track&quot; in your browser, we
            don't activate the code for Google Analytics and we're not tracking
            you. For more information about this feature, please visit <a
            href="http://donottrack.us/" title="Do Not Track" target="_blank"
            rel="nofollow">Do Not Track</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Changes to this privacy policy</h2>
            <p>Even though our policy is straightforward and sincere, we cannot
            predict the future and as technology advances, we might have to make
            modifications to this policy.</p>
            <p>Please check regularly to see if we have made some modifications.</p>

            <h2>Questions or comments?</h2>
            <p>If you have questions or you wish to provide us feedback, please contact us
            at <a href="mailto:privacy@in2it.be" title="privacy@in2it.be">privacy@in2it.be</a>
            or use our online web form at <a href="https://www.in2it.be/contact"
            title="Contact us | In2it" target="_blank" rel="nofollow">www.in2it.be/contact</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Version</h2>
            <p>This is <strong>v1.0.0</strong> of this privacy declaration, created on
            <strong>September 20, 2017</strong> at <strong>22:30 CEST</strong></p>
        </div>
    </div>

{% endblock %}
