{% extends 'base.twig' %}

{% block title %}Terms & Conditions{% endblock %}
{% block subtitle %}Because you need to know what to expect{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>We build this app for your convenience</h2>
            <p>With the vast amount of plugins and add-ons used in e-commerce
            platforms, it's impossible to cover all of them. We have done our
            best to lookup GDPR readiness for the plugins and add-ons we have
            in our database.</p>
            <p>As information is often not clearly stated on the website of the
            plugin author or service provider, it can be that a plugin is already
            compliant with GDPR.</p>
            <h2>Use at your own discretion</h2>
            <p>When our application states a plugin or add-on is <strong>not
            compliant</strong>, do the research yourself to ensure it's truely
            not compliant. It could be that we haven't found the information
            necessary to indicate the opposite.</p>
            <p>WE ARE NOT RESPONSIBLE FOR ANY LOSS OR DISCREDIT BY USING OUR
            APPLICATION. USE AT YOUR OWN RISK.</p>
            <h2>Rectification and feedback</h2>
            <p>If you are aware of GDPR compliance of a plugin, add-on or service
            that is still marked as not compliant in our application, please inform
            use at <a href="mailto:gdpr@in2it.be" title="gdpr@in2it.be">gdpr@in2it.be</a>
            and provide us with references of this compliance.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Version</h2>
            <p>This is <strong>v1.0.0</strong> of these terms &amp; conditions, created on
            <strong>September 20, 2017</strong> at <strong>22:30 CEST</strong></p>
        </div>
    </div>

{% endblock %}
