{% extends 'base.twig' %}

{% block title %}Want to automate plugin checking?{% endblock %}
{% block subtitle %}Now providing API access to the validator.{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <h2>API documentation</h2>
            <p>This is API documentation to describe how to consume this service.</p>
            <p>Please point all your requests to <strong><a href="{{ baseUrl }}" title="API basepoint" target="_blank">{{ baseUrl }}</a></strong>.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
        <h3>Request details</h3>
        <ul>
            <li><strong>Endpoint:</strong> /check</li>
            <li><strong>Method:</strong> GET</li>
            <li><strong>Arguments:</strong>
                <ul>
                    <li>Plugin name (e.g. In2it Plugin Checker) or partial name (e.g. Plugin)</li>
                    <li>Platform name (e.g. Magento) or partial name (e.g. Mag)</li>
                </ul><br>
                These arguments must be URL encoded
            </li>
        </ul>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <h3>Requesting validation of a full plugin name with platform</h3>
            <p>Example request: <span class="cli">/api/check/amazon%20pay/magento</span></p>
            <p>Example output:</p>
            <pre class="code">
{
  "result": "Successful finding plugins",
  "count": 1,
  "plugins": [
    {
      "platform": "Magento",
      "name": "Amazon Pay",
      "website": "https:\/\/marketplace.magento.com\/amzn-amazon-pay-and-login-magento-2-module.html",
      "compliant": "0",
      "last_checked": "2017-09-19 10:00:00",
      "price": "0"
    }
  ]
}
            </pre>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h3>Requesting validation of a partial plugin name</h3>
            <p>Example request: <span class="cli">/api/check/stripe</span></p>
            <p>Example output:</p>
            <pre class="code">
{
  "result": "Successful finding plugins",
  "count": 10,
  "plugins": [
    {
      "platform": "PrestaShop",
      "name": "Apple Pay + Stripe Payment Pro (30+ features)",
      "website": "https:\/\/addons.prestashop.com\/en\/payment-card-wallet\/17856-apple-pay-stripe-payment-pro-30-features.html",
      "compliant": "0",
      "last_checked": "2017-09-19 23:13:52",
      "price": "59.99"
    },
    {
      "platform": "WooCommerce",
      "name": "Stripe",
      "website": "https:\/\/woocommerce.com\/products\/stripe\/",
      "compliant": "0",
      "last_checked": "2017-09-19 23:13:47",
      "price": "0"
    },
    {
      "platform": "PrestaShop",
      "name": "Stripe (Reloaded) with ApplePay",
      "website": "https:\/\/addons.prestashop.com\/en\/payment-card-wallet\/14975-stripe-reloaded-with-applepay.html",
      "compliant": "0",
      "last_checked": "2017-09-19 23:13:52",
      "price": "49.99"
    },
    {
      "platform": "PrestaShop",
      "name": "Stripe Normal + Recurring Payments\/ Subscriptions",
      "website": "https:\/\/addons.prestashop.com\/en\/payment-card-wallet\/19407-stripe-normal-recurring-payments-subscriptions.html",
      "compliant": "0",
      "last_checked": "2017-09-19 23:13:52",
      "price": "119.99"
    },
    {
      "platform": "Magento",
      "name": "Stripe Payment Gateway",
      "website": "https:\/\/marketplace.magento.com\/magenest-module-stripe.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:26:15",
      "price": "149"
    },
    {
      "platform": "Magento",
      "name": "Stripe Payment Gateway and subscriptions",
      "website": "https:\/\/marketplace.magento.com\/cryozonic-module-stripe-payments.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:26:45",
      "price": "185"
    },
    {
      "platform": "Magento",
      "name": "Stripe Payments \u0026 Subscriptions",
      "website": "https:\/\/marketplace.magento.com\/cryozonic-module-stripe-payments.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:27:28",
      "price": "185"
    },
    {
      "platform": "Magento",
      "name": "Stripe for Magento 2",
      "website": "https:\/\/marketplace.magento.com\/radweb-stripe.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:28:02",
      "price": "150"
    },
    {
      "platform": "PrestaShop",
      "name": "Stripe official",
      "website": "https:\/\/addons.prestashop.com\/en\/payment-card-wallet\/24922-stripe-official.html",
      "compliant": "0",
      "last_checked": "2017-09-19 23:13:52",
      "price": "0"
    },
    {
      "platform": "Magento",
      "name": "Stripe with Stored Cards",
      "website": "https:\/\/marketplace.magento.com\/paradoxlabs-stripe.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:28:34",
      "price": "279"
    }
  ]
}
            </pre>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h3>Checking for a plugin with platform filter</h3>
            <p>Example request: <span class="cli">/api/check/stripe/magento</span></p>
            <p>Example output:</p>
            <pre class="code">
{
  "result": "Successful finding plugins",
  "count": 5,
  "plugins": [
    {
      "platform": "Magento",
      "name": "Stripe Payment Gateway",
      "website": "https:\/\/marketplace.magento.com\/magenest-module-stripe.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:26:15",
      "price": "149"
    },
    {
      "platform": "Magento",
      "name": "Stripe Payment Gateway and subscriptions",
      "website": "https:\/\/marketplace.magento.com\/cryozonic-module-stripe-payments.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:26:45",
      "price": "185"
    },
    {
      "platform": "Magento",
      "name": "Stripe Payments \u0026 Subscriptions",
      "website": "https:\/\/marketplace.magento.com\/cryozonic-module-stripe-payments.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:27:28",
      "price": "185"
    },
    {
      "platform": "Magento",
      "name": "Stripe for Magento 2",
      "website": "https:\/\/marketplace.magento.com\/radweb-stripe.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:28:02",
      "price": "150"
    },
    {
      "platform": "Magento",
      "name": "Stripe with Stored Cards",
      "website": "https:\/\/marketplace.magento.com\/paradoxlabs-stripe.html",
      "compliant": "0",
      "last_checked": "2017-09-19 12:28:34",
      "price": "279"
    }
  ]
}
            </pre>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h3>Checking for a non existing plugin</h3>
            <p>Example request: <span class="cli">/api/check/foo</span></p>
            <p>Example output:</p>
            <pre class="code">
{
  "result": "No results found",
  "count": 0,
  "plugins": []
}
            </pre>
        </div>
    </div>

{% endblock %}

